//
// Component: Password Strength Validation
// --------------------------------------------------

//== Default password strength validation styling.
//
//## 

.password-strength {
	width: $password-strength-indicator-width;
	
	span {
		display: inline-block;
		@include _radius(9px);
		background: $grey;
		width: ($password-strength-indicator-width / $password-strength-indicator-columns) - ($password-strength-indicator-gutter * 2);
		@include _margin(0 ($password-strength-indicator-gutter + ($password-strength-indicator-gutter - 1)) 0 0);
		height: 3px;

		&:last-child {
			@include _margin(0);
		}
	}

	div {
		position: relative;

		&.gauge {
			min-height: 40px;
		}

		&.weak {
			@for $i from 1 to map-get(map-get($password-strength-indicator, 'weak'), 'gauge') + 1 {
				span:nth-child(#{$i}){
					background: map-get(map-get($password-strength-indicator, 'weak'), 'color');
				}
			}

			&:after {
				content: 'Weak';
				color: map-get(map-get($password-strength-indicator, 'weak'), 'color');
			}
		}

		&.fair {
			@for $i from 1 to map-get(map-get($password-strength-indicator, 'fair'), 'gauge') + 1 {
				span:nth-child(#{$i}){
					background: map-get(map-get($password-strength-indicator, 'fair'), 'color');	
				}
			}

			&:after {
				content: 'Fair';
				color: map-get(map-get($password-strength-indicator, 'fair'), 'color');
			}
		}

		&.good {
			@for $i from 1 to map-get(map-get($password-strength-indicator, 'good'), 'gauge') + 1 {
				span:nth-child(#{$i}){
					background: map-get(map-get($password-strength-indicator, 'good'), 'color');	
				}
			}

			&:after {
				content: 'Good';
				color: map-get(map-get($password-strength-indicator, 'good'), 'color');
			}
		}

		&.strong {
			span {
				background: map-get(map-get($password-strength-indicator, 'strong'), 'color'); //'strong' password background automatically fills out the whole span
			}

			&:after {
				content: 'Strong';
				color: map-get(map-get($password-strength-indicator, 'strong'), 'color');
			}
		}

		&:after {
			font-size: $font-size-base - 1;
			font-weight: $font-weight-base;
			display: block;
			position: absolute;
			top: $password-strength-indicator-gutter * 4;
			right: 0;
		}
	}
}


//== Responsiveness
//
//## 

@media (max-width: 550px) {
    .password-strength {
        width: #{$mobile-large}px;

        span {
        	width: ($mobile-large / $password-strength-indicator-columns) - ($password-strength-indicator-gutter * 2);
        }
    }
}