//
// Component: Radio
// --------------------------------------------------

//== Default radion button styling
//
//## 

input[type="radio"] {
	@include _padding(0);
	@include _appearance; //~none!default
	border: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: no-repeat;
	background-position: top center;
	background: transparent url('../../assets/radio/normal.png');

	&:hover, &.hover {
		background-position: bottom;
	}	
}

input[type="radio"], input[type="radio"] + label {
	display: inline-block;
	vertical-align: middle;
	font-weight: $font-weight-base!important;
}

input[type="radio"] + label {
	@include _margin(3px 0!important);
	padding-top: 5px;
}

input[type="radio"]:checked, 
input[type="radio"].checked {
	background-image: url('../../assets/radio/selected.png');
}

input[type="radio"]:disabled, 
input[type="radio"].disabled {
	background-image: url('../../assets/radio/disabled.png');
}

input[type="radio"].hover-selected {
	background-image: url('../../assets/radio/selected.png');
	background-position: bottom;
}

input[type="radio"].disabled-selected {
	background-image: url('../../assets/radio/disabled-selected.png');
}