<!doctype html>
<html ng-app="Integracheck">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search Profile</title>
<!--stylesheet-->
<link rel="stylesheet" type="text/css" href="styles/stylesheets/main.css">
<link rel="stylesheet" href="assets/fonts/fontawesome/font-awesome.min.css">
<link rel="stylesheet" href="assets/fonts/fontawesome/font-awesome.css">
<!--end of stylesheet-->
<!--javascript-->
<script src="js/jquery-1.12.4.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/scripts.js"></script>
<script>
	var app = angular.module("Integracheck", []);

	app.directive("datepicker", function () {
		return {
			restrict: "A",
			require: "ngModel",
			link: function (scope, elem, attrs, ngModelCtrl) {

				var updateModel = function (dateText) {
					scope.$apply(function () {
					  ngModelCtrl.$setViewValue(dateText);
					});
				};
				
				var options = {
					changeMonth: true,
					changeYear: true,
					showOn: "both", 
					buttonText: "<i class='fa icon-calendar'></i>"
				};
				
				elem.datepicker(options);
			}
		}
	});

	app.controller('SearchProfileCtrl', function($scope) {
		$scope.toggleColumn = false;

		$scope.itemClicked = function ($index) {
			console.log($index);
			$scope.selectedIndex = $index;

			if($scope.selectedIndex)
				return false;
		}
	});

	$(function(){
		$('td').hover(function(){
			if($(this).children('.tooltip-wrapper').length > 0) {	
				$(this).css('overflow','visible');
			}
		});
	});
</script>
<!--end of javascript-->
</head>
<body>
<!--page wrap-->
	<div class="page-wrap" ng-controller="SearchProfileCtrl">
		<!--header-->
			<header class="header">
				<div class="container">
					<div class="row">
						<!--logo-->
							<div class="col-2">
								<div class="logo">
									<a href="javascript:void(0);">
										<img src="assets/logo/Logo.png" />
									</a>
								</div>			
							</div>
						<!--end of logo-->
						<!--navigation-->
							<div class="col-5">
								<div class="navigation">
									<ul>
										<li><a href="javascript:void(0);">Home</a></li>
										<li class="active"><a href="javascript:void(0);">Search</a></li>
										<li><a href="javascript:void(0);">Manage</a></li>
										<li><a href="javascript:void(0);">Export</a></li>
									</ul>
								</div>
							</div>
						<!--end of navigation-->
						<!--user info-->
              <div class="col-5 align-right">
                <div class="user-info">
                  <!--top links-->
                    <div class="top-links">
                      <ul>
                        <li class="notifications">
                          <i class="fa fa-bell" aria-hidden="true"></i>
                          <i class="fa fa-circle" aria-hidden="true">
                          	<span class="count">26</span>
                          </i>
                        </li>
                      </ul> 
                    </div>
                  <!--end of top links--> 
                  <!--user avatar-->  
                    <div class="user-avatar">
                      <span class="name" ng-click="isUserOptions=!isUserOptions">Hi&nbsp;&nbsp;Jonathan Ive</span>
                      <div class="user-options" ng-show="isUserOptions">
                        <ul class="list-group" ng-mouseleave="isUserOptions=false">
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fa fa-wrench"></i>Account Settings
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fa fa-sign-out"></i>Logout
                            </a>
                          </li>
                        </ul>
                      </div>
                      <span class="push-left-5">
                        <img src="assets/icon/line.png">
                      </span>
                      <span class="push-left-10">
                        <img src="assets/icon/manage-gray.png"> 
                        <span class="manage">MANAGE</span>
                      </span>
                    </div>
                  <!--end of user avatar--> 
                </div>    
              </div>
            <!--end of user info-->
					</div>
				</div>
			</header>
		<!--end of header-->
		<!--search profile-->
			<div class="search-profile">
				<div class="container">
					<!--start of title-->
						<div class="title">
							<h1>Search Profile</h1>
						</div>
					<!--end of title-->	
					<!--start of content-->
						<div class="content">
							<!--advanced search panel-->
								<div class="panel">
									<!--panel content-->
										<div class="panel-content">
											<!--search-->
												<div class="search">
													<div class="form-group"> 
														<input type="text" placeholder="Enter Keyword">
														<i class="fa fa-search"></i>
													</div>	
												</div>		
											<!--search-->
											<!--advanced search-->
												<div class="advanced-search">
													<div class="row">
														<div class="col-6" ng-class="{'push-top-14' : !showAdvancedSearchFields}">
															<a href="javascript:void(0);" ng-click="showAdvancedSearchFields =! showAdvancedSearchFields">Advance Search&gt;&gt;</a>
														</div>
														<div class="col-6" ng-hide="showAdvancedSearchFields">
															<button class="btn btn-primary btn-small pull-right" ng-click="isSearch =! isSearch">Search</button>
														</div>
													</div>	
													<!--advanced search fields-->
														<div class="advanced-search-fields" ng-show="showAdvancedSearchFields">
															<div class="panel panel-invert">
																<div class="panel-title">
																	Filter
																</div>
																<div class="panel-content pull-top-16">
																	<div class="row">
																	<!--left col-->
																		<div class="col-6 pull-top-24">
																			<div class="row">
																				<div class="form-group"> 
																					<div class="col-6 ">
																						<label>Type</label>
																						<p class="pull-left-6">
																							<input type="radio" class="normal">
																							<label for="checkbox">Company</label>
																						</p>
																						<p class="pull-left-6">
																							<input type="radio" class="normal">
																							<label for="checkbox">Individual</label>
																						</p>
																					</div>	
																				</div>
																				<div class="form-group"> 
																					<div class="col-6">
																						<label>Risk Rating</label>
																						<p class="pull-left-6">
																							<input type="radio" class="normal">
																							<label for="checkbox">Green</label>
																						</p>
																						<p class="pull-left-6">
																							<input type="radio" class="normal">
																							<label for="checkbox">Amber</label>
																						</p>
																						<p class="pull-left-6">
																							<input type="radio" class="normal">
																							<label for="checkbox">Red</label>
																						</p>
																					</div>	
																				</div>
																				<div class="form-group"> 
																					<div class="col-12">
																						<div class="form-group"> 
																							<label for="select">Country</label>
																							<input type="text" class="multi-select" ng-model="sampleCountry" placeholder="--Select Country--" ng-click="showCountrySelection=!showCountrySelection" ng-class="{'error' : showError}">
																							<i class="fa fa-caret-down" aria-hidden="true"></i>
																							<span ng-show="showError">This field is required.</span>
																							<div class="multi-select-options" ng-show="showCountrySelection" ng-mouseleave="showCountrySelection=false">
																								<ul>
																									<li ng-click="sampleCountry='Sample Country 1'; showCountrySelection=false">Sample Country 1</li>
																									<li ng-click="sampleCountry='Sample Country 2'; showCountrySelection=false">Sample Country 2</li>
																									<li ng-click="sampleCountry='Sample Country 3'; showCountrySelection=false">Sample Country 3</li>
																								</ul>
																							</div>
																						</div>	
																					</div>
																				</div>
																				<div class="form-group"> 
																					<div class="col-12">
																						<label for="select">Industry</label>
																						<input type="text" class="multi-select" ng-model="sampleIndustry" ng-click="showIndustrySelection =! showIndustrySelection" placeholder="--Select Industry--" ng-class="{'error' : showError}">
																						<i class="fa fa-caret-down" aria-hidden="true"></i>
																						<span ng-show="showError">This field is required.</span>
																						<div class="multi-select-options" ng-show="showIndustrySelection" ng-mouseleave="showIndustrySelection=false">
																							<ul>
																								<li ng-click="sampleIndustry = 'Sample Industry 1'; showIndustrySelection = false">Sample Industry 1</li>
																								<li ng-click="sampleIndustry = 'Sample Industry 2'; showIndustrySelection = false">Sample Industry 2</li>
																								<li ng-click="sampleIndustry = 'Sample Industry 3'; showIndustrySelection = false">Sample Industry 3</li>
																							</ul>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	<!--end of left col-->	
																	<!--right col-->
																		<div class="col-6">
																			<div class="form-group"> 
																				<div class="row">
																					<p>
																						<label>Date Created</label>
																					<p>	
																					<div class="col-6">
																						<label>From</label>	
																						<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="From">
																						<i class="fa fa-calendar"></i>
																					</div>
																					<div class="col-6">
																						<label>To</label>
																						<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="To">
																						<i class="fa fa-calendar"></i>
																					</div>
																				</div>	
																			</div>
																			<div class="form-group"> 
																				<div class="row">
																					<p>
																						<label>Date Updated</label>
																					<p>	
																					<div class="col-6">
																						<label>From</label>
																						<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="From">
																						<i class="fa fa-calendar"></i>
																					</div>
																					<div class="col-6">
																						<label>To</label>
																						<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="To">
																						<i class="fa fa-calendar"></i>
																					</div>
																				</div>	
																			</div>
																		</div>
																	<!--end of right col-->	
																	<!--form butons-->
																		<div class="form-buttons">	
																			<div class="row">
																				<div class="col-12 align-right">
																					<button class="btn btn-default btn-small">Reset</button>	  
																					<button class="btn btn-primary btn-small" ng-click="isSearch =! isSearch">Search</button>
																				</div>
																			</div>	
																		</div>
																	<!--end of form butons-->	
																	</div>
																</div>	
															</div>
														</div>
													<!--end of advanced search fields-->
												</div>	
											<!--end of advanced search-->		
										</div>	
									<!--end of panel content-->	
								</div>
							<!--end of advanced search panel-->
						</div>
					<!--end of content-->
					<!--content-->
						<div class="content" ng-show="isSearch">
							<!--results-->
								<div class="result">
									<div class="panel">	
										<!--panel title-->
											<div class="panel-title">
												<div class="row">
													<div class="col-6">
														<label class="push-top-9">
															Results<span class="count">(500)</span>
														</label>
													</div>
													<div class="col-6 align-right">
														<button class="btn btn-default" ng-click="showCustomizeFieldsModal=!showCustomizeFieldsModal">Customize Fields</button>
														<button class="btn btn-success">Create New Profile</button>
													</div>
												</div>
											</div>
										<!--end of panel title-->
										<!--panel content-->
											<div class="panel-content pull-top-16">
												<table class="data-grid">
													<tbody>
														<tr>
															<th>ID</th>
															<th>Type</th>
															<th>Full Name</th>
															<th>Name in Local Language</th>
															<th>Trading Name/Alias</th>
															<th>Country</th>
															<th>Created</th>
															<th>Updated</th>
															<th>&nbsp;</th>
														</tr>
														<tr>
															<td data-label="Profile ID">0001</td>
															<td data-label="Type">Sample Type 1</td>
															<td data-label="Full Name">Sample Name 1</td>
															<td data-label="Name in Local Language"  ng-class="{ 'expand': $index == selectedIndex }" ng-click="itemClicked($index)">Sample Local Name 1 expand table column</td>
															<td data-label="Alias">Sample Name 1</td>
															<td data-label="Country">Country 1</td>
															<td data-label="Date Created">00/00/000</td>
															<td data-label="Date Updated">01/01/1900</td>
															<td data-label="">
																<div class="tooltip-wrapper">
																	<span><i class="edit" ng-click=""></i></span>
																	<div class="tooltip tooltip-bottom">Edit</div>
																</div>
																<span><i class="merge" ng-click="showMergeModal=!showMergeModal"></i></span>
																<span><i class="relationship"></i></span>
																<span><i class="fa fa-trash" ng-click="isDeleteModal=!isDeleteModal"></i></span>
															</td>
														</tr>
														<tr>
															<td data-label="Profile ID">0002</td>
															<td data-label="Type">Sample Type 2</td>
															<td data-label="Full Name">Sample Name 2</td>
															<td data-label="Name in Local Language">Sample Local Name 1</td>
															<td data-label="Alias">Sample Name 2</td>
															<td data-label="Country">Country 2</td>
															<td data-label="Date Created">00/00/000</td>
															<td data-label="Date Updated">01/01/1900</td>
															<td data-label="">
																<span><i class="edit" ng-click=""></i></span>
																<span><i class="merge" ng-click="showMergeModal=!showMergeModal"></i></span>
																<span><i class="relationship"></i></span>
																<span><i class="fa fa-trash" ng-click="isDeleteModal=!isDeleteModal"></i></span>
															</td>
														</tr>
														<tr>
															<td data-label="Profile ID">0003</td>
															<td data-label="Type">Sample Type 3</td>
															<td data-label="Full Name">Sample Name 3</td>
															<td data-label="Name in Local Language">Sample Local Name 3</td>
															<td data-label="Alias">Sample Name 3</td>
															<td data-label="Country">Country 3</td>
															<td data-label="Date Created">00/00/000</td>
															<td data-label="Date Updated">01/01/1900</td>
															<td data-label="">
																<span><i class="edit" ng-click=""></i></span>
																<span><i class="merge" ng-click="showMergeModal=!showMergeModal"></i></span>
																<span><i class="relationship"></i></span>
																<span><i class="fa fa-trash" ng-click="isDeleteModal=!isDeleteModal"></i></span>
															</td>
														</tr>
														<tr>
															<td data-label="Profile ID">0004</td>
															<td data-label="Type">Sample Type 4</td>
															<td data-label="Full Name">Sample Name 4</td>
															<td data-label="Name in Local Language">Sample Local Name 4</td>
															<td data-label="Alias">Sample Name 4</td>
															<td data-label="Country">Country 4</td>
															<td data-label="Date Created">00/00/000</td>
															<td data-label="Date Updated">01/01/1900</td>
															<td data-label="">
																<span><i class="edit" ng-click=""></i></span>
																<span><i class="merge" ng-click="showMergeModal=!showMergeModal"></i></span>
																<span><i class="relationship"></i></span>
																<span><i class="fa fa-trash" ng-click="isDeleteModal=!isDeleteModal"></i></span>
															</td>
														</tr>
														<tr>
															<td data-label="Profile ID">0005</td>
															<td data-label="Type">Sample Type 5</td>
															<td data-label="Full Name">Sample Name 5</td>
															<td data-label="Name in Local Language">Sample Local Name 5</td>
															<td data-label="Alias">Sample Name 5</td>
															<td data-label="Country">Country 5</td>
															<td data-label="Date Created">00/00/000</td>
															<td data-label="Date Updated">01/01/1900</td>
															<td data-label="">
																<span><i class="edit" ng-click=""></i></span>
																<span><i class="merge" ng-click="showMergeModal=!showMergeModal"></i></span>
																<span><i class="relationship"></i></span>
																<span><i class="fa fa-trash" ng-click="isDeleteModal=!isDeleteModal"></i></span>
															</td>
														</tr>
													</tbody>
												</table>
												<!--pagination-->
													<div class="row">
														<div class="col-1">
															<input type="text" class="multi-select" value="10" ng-model="itemCount" placeholder="--1" ng-click="showItemCount=!showItemCount">
															<i class="fa fa-caret-down" aria-hidden="true"></i>
															<div class="multi-select-options" ng-show="showItemCount" ng-mouseleave="showItemCount=false">
																<ul>
																	<li ng-click="itemCount = '1'; showItemCount = false">1</li>
																	<li ng-click="itemCount = '2'; showItemCount = false">2</li>
																	<li ng-click="itemCount = '3'; showItemCount = false">3</li>
																	<li ng-click="itemCount = '4'; showItemCount = false">4</li>
																	<li ng-click="itemCount = '5'; showItemCount = false">5</li>
																</ul>
															</div>
														</div>
														<div class="col-11 align-right">	
															<div class="pagination">
																<ul>
																	<li><a href="javascript:void(0);">Prev</a></li>
																	<li><a href="javascript:void(0);">...</a></li>
																	<li class="active"><a href="javascript:void(0);">1</a></li>
																	<li><a href="javascript:void(0);">2</a></li>
																	<li><a href="javascript:void(0);">3</a></li>
																	<li><a href="javascript:void(0);">...</a></li>
																	<li><a href="javascript:void(0);">Next</a></li>
																</ul>
															</div>
														</div>
													</div>
												<!--end of pagination-->
											</div>
										<!--end of panel content-->
									</div>
								</div>
							<!--end of results-->	
						</div>
						<div class="content" ng-show="isSearch">
							<!--blank results-->
								<div class="result">
									<div class="panel">	
										<!--panel title-->
											<div class="panel-title">
												<div class="row">
													<div class="col-6">
														<label class="push-top-9">
															Results
														</label>
													</div>
													<div class="col-6 align-right">
														<button class="btn btn-default" ng-click="showCustomizeFieldsModal=!showCustomizeFieldsModal">Customize Fields</button>
														<button class="btn btn-success">Create New Profile</button>
													</div>
												</div>
											</div>
										<!--end of panel title-->
										<!--panel content-->
											<div class="panel-content">
												<div class="result no-result">
													<p>No results found.</p>
												</div>
											</div>
										<!--end of panel content-->
									</div>
								</div>
							<!--end of blank results-->
						</div>
					<!--end of content-->
				</div>
			</div>
		<!--end of search profile-->
		<div id="push"></div>
	</div>	
<!--end of page wrap-->	
<!--footer-->
  <footer class="footer">
    <div class="container-fluid align-center">
      <a href="javascript:void(0);">
        <p>Powered by The Red Flag Group</p>
      </a>
    </div>
  </footer>
<!--end of footer-->
</body>
</html>
<!--merge modal-->
	<div class="merge-modal modal modal-fixed" ng-show="showMergeModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!--modal header-->
					<div class="modal-header">
						<div class="row">
							<div class="col-12">
								<span>Merge</span>
								<!--close-->
									<div class="close" ng-click="showMergeModal=!showMergeModal">
										<i class="fa fa-times-circle-o"></i>
									</div>
								<!--end of close-->	
							</div>	
						</div>	
					</div>
				<!--end of modal header-->
				<!--modal body-->
					<div class="modal-body">
						<!--profile 1-->
							<div class="panel panel-invert">
								<!--panel title-->
									<div class="panel-title">
										<label>Profile 1</label>
									</div>
								<!--end of panel title-->
								<!--panel content-->
									<div class="panel-content pull-top-28">
										<div class="row">
											<!--left column-->
												<div class="col-6">
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Profile ID</label>
															</div>
															<div class="col-8">
																<input type="text" value="COM-001">
															</div>
														</div>
													</div>	
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Fullname</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Name">
															</div>
														</div>
													</div>	
												</div>
											<!--end of left col-->
											<!--right col-->
												<div class="col-6">
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Name in Local Language</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Name">
															</div>
														</div>	
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Trading Name / Alias</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Trading Name">
															</div>
														</div>
													</div>	
												</div>
											<!--end of right col-->	
										</div>
									</div>
								<!--end of panel content-->	
							</div>
						<!--end of profile 1-->	
						<!--profile 2-->
							<div class="panel panel-invert">
								<!--panel title-->
									<div class="panel-title">
										<label>
											<span>Profile 2</span>
											<span class="remove">
												<i class="fa fa-times" aria="hidden"></i>Remove
											</span>
										</label>
									</div>
								<!--end of panel title-->
								<!--panel content-->
									<div class="panel-content pull-top-28">
										<div class="row">
											<!--left col-->
												<div class="col-6">
													<div class="form-group">
														 <div class="row">
															<div class="col-4">
																<label>Profile ID</label>
															</div>
															<div class="col-8">
																<input type="text" value="COM-001" disabled="">
															</div>
														</div>	
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Fullname</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Name">
															</div>
														</div>	
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Name in Local Language</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Name">
															</div>
														</div>
													</div>
													<div class="form-group"> 
														<div class="row">
															<div class="col-4">
																<label>Trading Name / Alias</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Trading Name">
															</div>
														</div>	
													</div>
												</div>
											<!--end of left col-->	
											<!--right col-->
												<div class="col-6">
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Type</label>
															</div>
															<div class="col-8">
																<input type="text" value="Company" disabled="">
															</div>
														</div>	
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-4">
																<label>Country</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Country 1">
															</div>
														</div>	
													</div>
													<div class="form-group"> 
														<div class="row">
															<div class="col-4">
																<label>Industry</label>
															</div>
															<div class="col-8">
																<input type="text" value="Sample Country 1">
															</div>
														</div>	
													</div>
													<div class="form-group"> 
														<div class="row">
															<div class="col-4">
																<label>Risk Rating</label>
															</div>
															<div class="col-8">
																<input type="text" value="Red" disabled="">
															</div>
														</div>	
													</div>
												</div>
											<!--end of right col-->	
										</div>	
										<!--search-->
											<div class="search">
												<div class="title">Search for Profile 2</div>
												<div class="form-group"> 
													<input type="text" value="Sample Keyword">
													<i class="fa fa-search"></i>
												</div>	
											</div>		
										<!--search-->	
										<!--advanced search-->
											<div class="advanced-search">
												<div class="row">
													<div class="col-6" ng-class="{'push-top-14' : !showMergeModalAdvancedSearchFields}">
														<a href="javascript:void(0);" ng-click="showMergeModalAdvancedSearchFields =! showMergeModalAdvancedSearchFields">Advance Search&gt;&gt;</a>
													</div>
													<div class="col-6" ng-hide="showMergeModalAdvancedSearchFields">
														<button class="btn btn-primary btn-small pull-right" ng-click="isMergeModalSearch =! isMergeModalSearch">Search</button>
													</div>
												</div>	
												<!--advanced search fields-->
													<div class="advanced-search-fields" ng-show="showMergeModalAdvancedSearchFields">
														<div class="panel">
															<div class="panel-title">
																Filter
															</div>
															<div class="panel-content pull-top-16">
																<div class="row">
																<!--left col-->
																	<div class="col-6 pull-top-24">
																		<div class="row">
																			<div class="form-group"> 
																				<div class="col-6">
																					<label>Type</label>
																					<p>
																						<input type="radio" class="normal">
																						<label for="checkbox">Company</label>
																					</p>
																					<p>
																						<input type="radio" class="normal">
																						<label for="checkbox">Individual</label>
																					</p>
																				</div>	
																			</div>
																			<div class="form-group"> 
																				<div class="col-6">
																					<label>Risk Rating</label>
																					<p>
																						<input type="radio" class="normal">
																						<label for="checkbox">Green</label>
																					</p>
																					<p>
																						<input type="radio" class="normal">
																						<label for="checkbox">Amber</label>
																					</p>
																					<p>
																						<input type="radio" class="normal">
																						<label for="checkbox">Red</label>
																					</p>
																				</div>	
																			</div>
																			<div class="form-group"> 
																				<div class="col-12">
																					<div class="form-group"> 
																						<label for="select">Country</label>
																						<input type="text" class="multi-select" ng-model="sampleCountry" placeholder="--Select Country--" ng-click="showCountrySelection=!showCountrySelection" ng-class="{'error' : showError}">
																						<i class="fa fa-caret-down" aria-hidden="true"></i>
																						<span ng-show="showError">This field is required.</span>
																						<div class="multi-select-options" ng-show="showCountrySelection" ng-mouselave="showCountrySelection=false">
																							<ul>
																								<li ng-click="sampleCountry='Sample Country 1'; showCountrySelection=false">Sample Country 1</li>
																								<li ng-click="sampleCountry='Sample Country 2'; showCountrySelection=false">Sample Country 2</li>
																								<li ng-click="sampleCountry='Sample Country 3'; showCountrySelection=false">Sample Country 3</li>
																							</ul>
																						</div>
																					</div>	
																				</div>
																			</div>
																			<div class="form-group"> 
																				<div class="col-12">
																					<label for="select">Industry</label>
																					<input type="text" class="multi-select" ng-model="sampleIndustry" ng-click="showMergeModalIndustrySelection =! showMergeModalIndustrySelection" placeholder="--Select Industry--" ng-class="{'error' : showError}">
																					<i class="fa fa-caret-down" aria-hidden="true"></i>
																					<span ng-show="showError">This field is required.</span>
																					<div class="multi-select-options" ng-show="showMergeModalIndustrySelection" ng-mouseleave="showIndustrySelection=false">
																						<ul>
																							<li ng-click="sampleIndustry = 'Sample Industry 1'; showMergeModalIndustrySelection = false">Sample Industry 1</li>
																							<li ng-click="sampleIndustry = 'Sample Industry 2'; showMergeModalIndustrySelection = false">Sample Industry 2</li>
																							<li ng-click="sampleIndustry = 'Sample Industry 3'; showMergeModalIndustrySelection = false">Sample Industry 3</li>
																						</ul>
																					</div>
																				</div>
																			</div>
																	</div>
																	</div>
																<!--end of left col-->
																<!--right col-->
																	<div class="col-6">
																		<div class="form-group"> 
																			<div class="row">
																				<p>
																					<label>Date Created</label>
																				<p>	
																				<div class="col-6">
																					<label>From</label>	
																					<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="From">
																					<i class="fa fa-calendar"></i>
																				</div>
																				<div class="col-6">
																					<label>To</label>
																					<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="To">
																					<i class="fa fa-calendar"></i>
																				</div>
																			</div>	
																		</div>
																		<div class="form-group"> 
																			<div class="row">
																				<p>
																					<label>Date Updated</label>
																				<p>	
																				<div class="col-6">
																					<label>From</label>
																					<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="From">
																					<i class="fa fa-calendar"></i>
																				</div>
																				<div class="col-6">
																					<label>To</label>
																					<input type="text" class="datepicker" ng-model="datePicker" datepicker placeholder="To">
																					<i class="fa fa-calendar"></i>
																				</div>
																			</div>	
																		</div>
																	</div>
																<!--end of right col-->	
																<!--form butons-->
																	<div class="form-buttons">	
																		<div class="row">
																			<div class="col-12 align-right">
																				<button class="btn btn-default btn-small">Reset</button>	
																				<button class="btn btn-primary btn-small" ng-click="isMergeModalSearch =! isMergeModalSearch">Search</button>
																			</div>
																		</div>	
																	</div>
																<!--end of form butons-->	
																</div>
															</div>	
														</div>
													</div>
												<!--end of advanced search fields-->
											</div>	
										<!--end of advanced search-->	
									</div>
								<!--end of panel content-->	
							</div>
						<!--end of profile 2-->
						<!--results-->
							<div class="panel" ng-show="isMergeModalSearch">	
								<div class="result">
									<!--panel title-->
										<div class="panel-title">
											<label>
												Results
												<span class="count">(500)</span>
											</label>
										</div>
									<!--end of panel title-->
									<!--panel content-->
										<div class="panel-content pull-top-28">
											<table class="data-grid">
												<tbody>
													<tr>
														<th>&nbsp;</th>
														<th>ID</th>
														<th>Type</th>
														<th>Full Name</th>
														<th>Name in Local Language</th>
														<th>Trading Name/Alias</th>
														<th>Country</th>
														<th>Created</th>
														<th>Updated</th>
													</tr>
													<tr>
														<td>
															<input type="checkbox" class="normal" ng-click="isProfileSelected=!isProfileSelected">
														</td>
														<td data-label="Profile ID">0001</td>
														<td data-label="Type">Sample Type 1</td>
														<td data-label="Full Name">Sample Name 1</td>
														<td data-label="Name in Local Language">Sample Local Name 1</td>
														<td data-label="Alias">Sample Name 1</td>
														<td data-label="Country">Country 1</td>
														<td data-label="Date Created">00/00/000</td>
														<td data-label="Date Updated">01/01/1900</td>
													</tr>
													<tr>
														<td>
															<input type="checkbox" class="normal">
														</td>
														<td data-label="Profile ID">0002</td>
														<td data-label="Type">Sample Type 2</td>
														<td data-label="Full Name">Sample Name 2</td>
														<td data-label="Name in Local Language">Sample Local Name 2</td>
														<td data-label="Alias">Sample Name 2</td>
														<td data-label="Country">Country 2</td>
														<td data-label="Date Created">00/00/000</td>
														<td data-label="Date Updated">01/01/1900</td>
													</tr>
													<tr>
														<td>
															<input type="checkbox" class="normal">
														</td>
														<td data-label="Profile ID">0003</td>
														<td data-label="Type">Sample Type 3</td>
														<td data-label="Full Name">Sample Name 3</td>
														<td data-label="Name in Local Language">Sample Local Name 3</td>
														<td data-label="Alias">Sample Name 3</td>
														<td data-label="Country">Country 3</td>
														<td data-label="Date Created">00/00/000</td>
														<td data-label="Date Updated">01/01/1900</td>
													</tr>
													<tr>
														<td>
															<input type="checkbox" class="normal">
														</td>
														<td data-label="Profile ID">0004</td>
														<td data-label="Type">Sample Type 4</td>
														<td data-label="Full Name">Sample Name 4</td>
														<td data-label="Name in Local Language">Sample Local Name 4</td>
														<td data-label="Alias">Sample Name 4</td>
														<td data-label="Country">Country 4</td>
														<td data-label="Date Created">00/00/000</td>
														<td data-label="Date Updated">01/01/1900</td>
													</tr>
													<tr>
														<td>
															<input type="checkbox" class="normal">
														</td>
														<td data-label="Profile ID">0005</td>
														<td data-label="Type">Sample Type 5</td>
														<td data-label="Full Name">Sample Name 5</td>
														<td data-label="Name in Local Language">Sample Local Name 5</td>
														<td data-label="Alias">Sample Name 5</td>
														<td data-label="Country">Country 5</td>
														<td data-label="Date Created">00/00/000</td>
														<td data-label="Date Updated">01/01/1900</td>
													</tr>
												</tbody>
											</table>
											<!--pagination-->
												<div class="row">
													<div class="col-1">
														<input type="text" class="multi-select" value="10" ng-model="itemCount" placeholder="--1" ng-click="showMergeModalItemCount=!showMergeModalItemCount">
														<i class="fa fa-caret-down" aria-hidden="true"></i>
														<div class="multi-select-options" ng-show="showMergeModalItemCount" ng-mouseleave="showMergeModalItemCount=false">
															<ul>
																<li ng-click="itemCount = '1'; showMergeModalItemCount = false">1</li>
																<li ng-click="itemCount = '2'; showMergeModalItemCount = false">2</li>
																<li ng-click="itemCount = '3'; showMergeModalItemCount = false">3</li>
																<li ng-click="itemCount = '4'; showMergeModalItemCount = false">4</li>
																<li ng-click="itemCount = '5'; showMergeModalItemCount = false">5</li>
															</ul>
														</div>
													</div>
													<div class="col-11 align-right">	
														<div class="pagination">
															<ul>
																<li><a href="javascript:void(0);">Prev</a></li>
																<li><a href="javascript:void(0);">...</a></li>
																<li class="active"><a href="javascript:void(0);">1</a></li>
																<li><a href="javascript:void(0);">2</a></li>
																<li><a href="javascript:void(0);">3</a></li>
																<li><a href="javascript:void(0);">...</a></li>
																<li><a href="javascript:void(0);">Next</a></li>
															</ul>
														</div>
													</div>
												</div>
											<!--end of pagination-->
										</div>
									<!--end of panel content-->
								</div>
							</div>
						<!--end of results-->	
					</div>	
				<!--end of modal body-->
				<!--modal footer-->
					<div class="modal-footer" ng-show="isMergeModalSearch">
						<div class="row">
							<div class="col-6">
								<button class="btn btn-default btn-small" ng-click="showMergeModal=!showMergeModal">Cancel</button>
							</div>	
							<div class="col-6 align-right">
								<button class="btn btn-default btn-medium">Add Another Profile</button>
								<button class="btn btn-success btn-small" ng-hide="isProfileSelected" disabled>Select</button>
								<button class="btn btn-success btn-small" ng-show="isProfileSelected">Select</button>
							</div>
						</div>
					</div>
				<!--end of modal footer-->	
			</div>
		</div>		
	</div>
<!--end of merge modal-->
<!--customize fields modal-->
	<div class="customize-fiellds-modal modal modal-fixed" ng-show="showCustomizeFieldsModal">
		<div class="modal-dialog">
			<div class="modal-content modal-medium">
				<!--modal header-->
					<div class="modal-header">
						<div class="row">
							<div class="col-12">
								<span>Customize Column</span>
							</div>	
						</div>	
					</div>
				<!--end of modal header-->
				<!--modal body-->
					<div class="modal-body">
						<div class="row">
							<ul>
								<li>
									<input type="checkbox" checked>
									<label>Profile ID</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Type</label>
								</li>
								<li class="disabled">
									<input type="checkbox" class="disabled-checked">
									<label>Full Name</label>
								</li>
								<li class="disabled">
									<input type="checkbox" class="disabled-checked">
									<label>Name in Local Language</label>
								</li>
								<li class="disabled">
									<input type="checkbox" class="disabled-checked">
									<label>Training Name/Alias</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Country</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Industry</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Risk Rating</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Date Created</label>
								</li>
								<li>
									<input type="checkbox" checked>
									<label>Date of Last Update</label>
								</li>
							</ul>
						</div>
					</div>	
				<!--end of modal body-->
				<!--modal footer-->
					<div class="modal-footer pull-top-16">
						<div class="row">
							<div class="col-6 align-left">
								<button class="btn btn-default btn-small" ng-click="showCustomizeFieldsModal=!showCustomizeFieldsModal">Cancel</button>
							</div>	
							<div class="col-6 align-right">
								<button class="btn btn-primary btn-small">Apply</button>
							</div>
						</div>
					</div>
				<!--end of modal footer-->	
			</div>
		</div>		
	</div>
<!--end of customize fields modal-->
<!--delete modal-->
	<div class="modal modal-confirmation delete-modal" ng-show="isDeleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!--modal header-->
					<div class="modal-header">
						<!--close-->
							<div class="close">
								<i class="fa fa-times-circle-o" ng-click="isDeleteModal=false"></i>
							</div>
						<!--end of close-->	
					</div>
				<!--end of modal header-->
				<!--modal body-->
					<div class="modal-body">
						<div class="icon">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</div>
						<p>Are you sure you want to delete this profile?</p>
					</div>
				<!--end of modal body-->
				<!--modal body-->
					<div class="modal-footer">
						<div class="row">
							<div class="col-6">
								<button class="btn btn-cancel" ng-click="isDeleteModal=false">Cancel</button>
							</div>	
							<div class="col-6">
								<button class="btn btn-primary">Delete</button>
							</div>
						</div>
					</div>
				<!--end of modal body-->
			</div>
		</div>
	</div>
<!--end of unlink modal-->